/* .register-enter-active {
  transform: translateY(0);
} */

/* .register-exit {
  transform: translateY(-100%);
  transition: transform .4s ease-in
} */

/* .register-exit-active {
  transform: translateY(-100%);
  transition: transform .4s ease-in
} */
/* 
.registerActive {
  /* animation: slideIn 2s ease-in-out; */
/* transform: translateY(0%); */
/* transition: transform .4s ease .5s; */
/* } */

/* .registerInActive {
  transform: translateY(-100%);
  transition: transform .4s ease .5s;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }

  20% {
    transform: translateY(0%);
  }

  40% {
    transform: translateY(-20%);
  }

  60% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(0%);
  }
} */