.lds-ripple {
  display: inline-block;
  position: relative;
  width: 6.4rem;
  height: 6.4rem;
  margin-top: 3%;
}

.lds-ripple div {
  position: absolute;
  border: .4rem solid rgba(42, 30, 92, 0.9);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 2.8rem;
    left: 2.8rem;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -.1rem;
    left: -.1rem;
    width: 5.8rem;
    height: 5.8rem;
    opacity: 0;
  }
}